body{
  margin: 0;
  padding:0;
  background-color: #546E7A;
  color:#fff;
}
header{
  width: 100%;
  height: 40px;
  background-color: #546E7A;
  text-align: center;
  padding:30px 0px;
}
#logo{
  padding: 15px;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  color: #fff;
}
.wrap{
  width: 95%;
  max-width: 1000px;
  margin:auto;
}
.time{
  width: 60%;
  margin: 5em auto;
  background: #263238;
  text-align: center;
}
.time p{
  font-family: 'Oswald', sans-serif;
  padding:1em;
  line-height: 1em;
  display: inline-block;
  font-size:32px;
}
